.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s;
  margin-right: 8px;
}

.checkbox.checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.text {
  font-size: 0.75em;
}
